@page "/WordStream"

<h1>Word Stream</h1>

<button class="btn btn-primary" @onclick="StartStream">Start Stream</button>
<button class="btn btn-primary" @onclick="StopStream">Stop Stream</button>

@code {
    private void StartStream()
    {

    }

    private void StopStream()
    {

    }
}
